        /* Paleta de cores */
        :root {
            --Bege: #f8f3ea;
            --AzulEscuro: #0b1957;
            --Azul: #9eccfa;
            --AzulClaro: #d1e8ff;
        }

        /* Geral */
        * {
            margin: 0;
            padding: 0;
        }

        /* Cabeçalho */
        #titulo a {
            font-size: 23px;
            font-family: "syne";
            text-decoration: none;
            color: var(--Bege);
            transition: color 0.5s;
        }

        #titulo a:hover {
            font-size: 23px;
            font-family: "syne";
            text-decoration: none;
            color: black;
        }


        #texto a {
            font-family: "syne mono";
            text-decoration: none;
            padding: 10px;
            color: var(--Bege);
            transition: color 0.45s;
        }


        #texto a:hover {
            text-decoration: none;
            color: black;
        }

        header {
            padding: 30px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            background-color: var(--Azul);
            padding-bottom: 125px;
            padding-left: 100px;
            padding-right: 100px;
        }


        /*Parte do "Oque são IA" */
        .explic_ia {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px;
            flex-wrap: wrap;
            background-color: var(--Azul);
            padding-left: 100px;
            padding-right: 100px;
        }

        .texto {
            flex: 1;
            max-width: 50%;
        }

        .texto h1 {
            font-size: 100px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #000;
            font-family: "syne";
        }

        .texto p {
            font-size: 18px;
            line-height: 1.6;
            color: var(--AzulEscuro);
            font-family: "syne mono";
        }

        .imagem {
            flex: 1;
            max-width: 45%;
        }

        .imagem img {
            width: 100%;
            border-radius: 10px;
        }

        /* Seção de pontos positivos e negativos */
        .pontos {
            background: linear-gradient(to bottom, #9eccfa, #f8f3ea);
            padding-top: 100px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 40px;
            padding-left: 300px;
            padding-right: 300px;
        }

        .pontos h2 {
            font-family: "syne";
        }

        .coluna {
            flex: 1;
            min-width: 280px;
            max-width: 500px;
        }

        .coluna h2 {
            font-size: 48px;
            font-weight: bold;
            color: #000;
        }

        .coluna ol {
            font-family: "syne mono";
            font-size: 16px;
            color: #0b1957;
            line-height: 2;
        }

        /* Esfera Politica */

        .esferas {
            background-color: var(--Bege);
        }

        .esf_politica{
            text-align: center;
            padding: 100px;
            
        }

        #titulo_politica{
            font-size: 100px;
            font-family: "syne";
        }

        #texto_politica{
            padding-top: 30px;
            padding-bottom: 40px;
            margin-left: 300px;
            margin-right: 300px;
            font-family: "syne mono";
            font-size: 25px;
        }

        #botao_politica{
            border-radius: 50px;
            background-color: black;
            color: white;
            font-family: "syne mono";
            text-align: center;
            width: 400px;
            height: 70px;
            font-size: 25px;
            transition: all 0.5s;
        }

        #botao_politica:hover{
            background-color: var(--Bege);
            color: #000;
        }




        /* Footer */
        footer {
            text-align: center;
            padding: 70px;
            background: linear-gradient(to bottom, #f8f3ea, #9eccfa);
            color: rgb(255, 255, 255);
            font-family: "syne";
        }


        /* Responsividade */
        @media (max-width: 900px) {
            .intro {
                flex-direction: column;
                align-items: center;
            }

            .texto,
            .imagem {
                max-width: 100%;
            }

            .texto h1 {
                font-size: 40px;
                text-align: center;
            }

            .texto p {
                text-align: justify;
            }

            .coluna h2 {
                text-align: center;
            }

            .coluna ol {
                padding-left: 20px;
            }
        }